body{
    background-color: #F0ECEE;
    max-width: 100%;
    overflow: hidden;
}

header{
    width: 100%;
    max-width: 768px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
   
  }

  .nav a{
      text-decoration: none;
      margin-right: 8px;
      padding-left: 10px;
      width: 100%;
  }

  .me{
    color: red;;
}

.me:hover{
    color: white;
}

#Emp{
    color: #FF4850;
}

li {
  display: inline-block;
  padding: 1px;
        }

li:hover{
 background-color:  #FF4850;
 color: white;
  border-radius: 15px;
    }

.nav a:hover{
   color: white;
}

nav a{
   color:#88898B;
   width: 100%;
   text-align:center;
}


.navbar{
  float: right;
}

.btn{
  padding: 10px;
  border-radius: 10px;
  background-color: #FF4850;
  color: white;
  border: none;
  width: 100%;
  text-align:center;
  display: flex;
}

.btn:hover{
  background-color: #ccc;
}

p{
  color: #88898B
}

h1{
  color: black;
}

.btn a{
  color: white;
}